html {
  background-color: unset;
  background-image: unset;
}
.form-control--underline {
  border-left: unset;
  border-right: unset;
  border-top: unset;
  border-bottom: 1px solid var(--bs-border-color);
  border-radius: unset;
  outline: unset;
  box-shadow: unset;
  &:focus {
    outline: unset;
    box-shadow: unset;
  }
}
.cursor {
  &-pointer {
    cursor: pointer;
  }
}
.app-header {
  .brand {
    width: fit-content !important;
    .brand-logo {
      .brand-img {
        background: unset;
        width: 1.5rem;
      }
    }
  }
}
.app-header .menu .menu-item .menu-link .menu-img {
  margin-right: 0;
  margin-left: 0.75rem;
}
.w {
  &-c {
    &-3 {
      width: calc(100% / 3);
    }
  }
}
.video-js {
  width: 100%;
}
.cctv-placeholder {
  .placeholder {
    height: 200px;
    width: 100%;
  }
  .card-body {
    padding: 0;
  }
  &.thumbnail {
    padding: 0.5rem;
  }
}
.bg {
  &-modal {
    .bg-white {
      background-color: #25303c;
    }
    input, textarea {
      color: white !important;
    }
  }
}
